/* Это внешний файл стилей */
body {
    background-color: #f0f0f0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*в ксысы: разные способы комбы атомов через пробелы и запятые и уголки*/

/*в хтмл: добавить таблицы форматирования, типа как меню где слева ссылки справа баннеры*/

/*margin-bottom: 10px; на примере етого похожие разные штуки есть, up down типа того лол*/